@CHARSET "UTF-8";

@media screen and (max-width:1800px){
#extra{
	display:none;
}
}

@media screen and (max-width:850px){
#sub{
	display:none;
}
}

#mainmenubutton{
	display:none;
}
#submenubutton1, #submenubutton2, #submenubutton3, #submenubutton4, #login_button{
	position:absolute;
display:inline-block;
text-align:left;
font-whight:bold;
float:right;
font-family:Tahoma,Ganeva,sans-setif;
margin-bottom:30px;
border-radius:6px;
text-shadow:0px 0px 2px rgba(0,0,0,0.45);
}
#mainmenubutton a, #submenubutton1 a, #submenubutton2 a, #submenubutton3 a, #submenubutton4 a{
	display:block;
padding:10px 0;
background:#ededed;
color:#8ac2d0;
font-weight:bold;
text-align:center;
}

@media screen and (max-width:1000px){
#jumpmenu{
	display:none;
}
#mainmenubutton{
	height:20px;
	position:absolute;
display:block;
top:180px;
padding-top:10px;
font-whight:bold;
line-height:1;
float:left;
font-family:Tahoma,Ganeva,sans-setif;
margin-bottom:30px;
border-radius:6px;
text-shadow:0px 0px 2px rgba(0,0,0,0.45);
z-index:10;
}
#submenubutton1, #submenubutton2, #submenubutton3, #submenubutton4{
	display:table;
white-space:nowrap;
}
}

#jumpmenu{
	position:relative;
	top:150px;
	z-index:100;
}

#mainmenubutton a:hover, #submenubutton1 a:hover, #submenubutton2 a:hover, #submenubutton3 a:hover, #submenubutton4 a:hover{
	background:#ddd;
}
#mainmenubutton a:active, #submenubutton1 a:active, #submenubutton2 a:active, #submenubutton3 a:active, #submenubutton4 a:active{
	background:#bbb;
}
.submenu1, .submenu2, .submenu3, .submenu4{
	display:none;
text-align:left;
}

#title-back{
	width:100%;
height:210px;
padding:10px;
top:80px;
left:20px;
position:relative;
display:block;
background-image:
-moz-linear-gradient(
rgb(255,255,255)0%,
rgb(250,250,210)70%,
rgb(255,255,000)90%,
rgb(255,215,000)100%);

background-image:
-webkit-linear-gradient(
rgb(255,255,255)0%,
rgb(250,250,210)70%,
rgb(255,255,000)90%,
rgb(255,215,000)100%);

background-image:
linear-gradient(
rgb(255,255,255)0%,
rgb(250,250,210)70%,
rgb(255,255,000)90%,
rgb(255,215,000)100%);

-moz-transform:skewX(-20deg) rotate(-20deg);
-webkit-transform:skewX(-20deg) rotate(-20deg);
-ms-transform:skewX(-20deg) rotate(-20deg);
transform:skewX(-20deg) rotate(-20deg);

z-index:1;
}
#title{
	width:400px;
height:180px;
left:15%;
top:-10px;
position:absolute;
}

.shop_photo{
	min-width:480px;
	min-height:270px;
	max-width:100%;
	max-height:100%;
}

div#contents{
	width:100%;
height:60%;
display:-webkit-box;
display:-moz-box;
display:-ms-box;
display:box;

display:-webkit-flexbox;
display:-moz-flexbox;
display:-ms-flexbox;
display:flexbox;
}

div#main{
	width:100%;
-webkit-box-ordinal-group:2;
-moz-box-ordinal-group:2;
-ms-box-ordinal-group:2;
box-ordinal-group:2;

-webkit-flex-order:2;
-moz-flex-order:2;
-ms-flex-order:2;
flex-order:2;

-webkit-box-flex:1;
-moz-box-flex:1;
-ms-box-flex:1;
box-flex:1;

width:-webkit-flex(1);
width:-moz-flex(1);
width:-ms-flex(1);
width:flex(1);
}
.contentimage{
	max-width:594px;
max-height:841px;
}

div#sub{
	width:280px;
padding:10px;
background:#edebe6;

-webkit-box-ordinal-group:1;
-moz-box-ordinal-group:1;
-ms-box-ordinal-group:1;
box-ordinal-group:1;

-webkit-flex-order:1;
-moz-flex-order:1;
-ms-flex-order:1;
flex-order:1;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;

overflow:auto;
}

div#extra{
	width:560px;
padding:10px;
background:#edebe6;

-webkit-box-ordinal-group:3;
-moz-box-ordinal-group:3;
-ms-box-ordinal-group:3;
box-ordinal-group:3;

-webkit-flex-order:3;
-moz-flex-order:3;
-ms-flex-order:3;
flex-order:3;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;

overflow:auto;
}


body{
	width:100%;
height:100%;
	text-align:center;
background:-webkit-linear-gradient(#ffffff, #87cefa);
background:linear-gradient(#ffffff, #87cefa);
font-family:"メイリオ",sans-serif;
font-size:24px;
}
input,select{
	position:relative;
top:2px;
height:26px;
font-size:100%;
}
li{
font-size:36px;
}


p#list{
	text-align:left;
}

table.item{
	width:50%;
text-align:center;
}
table#bigtable{
	width:100%;
text-align:center;
}
td{
	text-align:center;
}
td.title{
	width:30%;
}
td.suchi{
	width:10%;
}
td.name{
	width:20%;
}
td.date{
	width:15%;
}
td.comment{
	width:30%;
}
td.logo{
	width:15%;
}
td.button{
	width:15%;
}
td.place{
white-space:nowrap;
}


div#tab-unit,
h3.tab,
h3.tab a,
div.page,
div.tab-content,
div.tab-content p,
div.tab-content table{
	position:relative;
margin:0 auto;
text-align:center;
padding:0;
}

div#tab-unit{
	height:100%;
position:relative;
top:400px;
z-index:500;
}

h3.tab{
	position:absolute;
top:-150px;
}

h3.tab a{
	display:block;
width:300px;
height:150px;
box-sizing:border-box;
border-top:1px solid #000;
border-right:1px solid #000;
cursor:default;
border-radius:10px 10px 0 0;
background:-webkit-linear-gradient(#ffffff, #90ee90);
background:linear-gradient(#ffffff, #90ee90);
}

h3.tab a,
div.tab-content{
background-color:fff;
}

h3.tab:link,
h3.tab:visited,
h3.tab:hover,
h3.tab:active,
h3.content{
	color:#000;
}

div.page{
	position:fixed;
top:0;
width:0;
line-height:0;
visibility:hidden;
}

div#kyoutsu + div.tab-content h3.tab{
	left:-1px;
z-index:20;
}
div#consume + div.tab-content h3.tab{
	left:299px;
}
div#arcade + div.tab-content h3.tab{
	left:599px;
}

div#kyoutsu + div.tab-content{
	z-index:10;
}
div#kyoutsu + div.tab-content h3.tab a{
	border-left:1px solid #000;
}


div.tab-content{
position:absolute;
top:25px;
left:0;
width:100%;
height:2000px;
box-sizing:border-box;
border:1px solid #000;
background:-webkit-linear-gradient(#ffffff, #90ee90);
background:-moz-linear-gradient(#ffffff, #90ee90);
background:-ms-linear-gradient(#ffffff, #90ee90);
background:linear-gradient(#ffffff, #90ee90);

}

#loginform{
	position:absolute;
	display:none;
width:500px;
height:250px;
text-align:center;
padding:15px;
line-height:40px;
border-radius:2px 2px 2px 2px;
z-index:1500;

background-image:
-moz-linear-gradient(
rgb(255,255,255)0%,
rgb(179,182,186)70%,
rgb(169,173,184)90%,
rgb(244,245,246)100%);

background-image:
-webkit-linear-gradient(
rgb(255,255,255)0%,
rgb(179,182,186)70%,
rgb(169,173,184)90%,
rgb(244,245,246)100%);

background-image:
linear-gradient(
rgb(255,255,255)0%,
rgb(179,182,186)70%,
rgb(169,173,184)90%,
rgb(244,245,246)100%);
}

.tourokubutton{
	width:100%;
margin:0 auto;
display:block;
background-color:#FFCC66;
border:1px solid #C1C1C1;
box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)

background-image:
-moz-linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);

background-image:
-webkit-linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);
background-image:
linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);

font-size:36px;
text-shadow:0px 0px 2px rgba(0,0,0.45);
border-radius:5px;
padding:3px 0;
text-align:center;
color:#616161;
text-decoration:none;
}

.list{
	display:table;
margin-top:5px;
}

#pankuzulist{
	position:relative;
top:570px;
left:50px;
display:table;
margin-top:5px;
z-index:150;
}


.button a{
left:50%;
top:50%;
margin:0 auto;
text-align:center;
display:table-cell;
}

.button{
	margin: 0 auto;
	width:50%;
height:60%;
font-size:18px;
text-align:block;
display:table-cell;
background-color:#FFCC66;
border:1px solid #C1C1C1;
box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1)
text-shadow:0px 0px 2px rgba(0,0,0.45);
border-radius:5px;
padding:3px 0;
text-align:center;
color:#616161;
text-decoration:none;
font-weight:bold;

background-image:
-moz-linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);

background-image:
-webkit-linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);
background-image:
linear-gradient(
rgb(175,238,238)0%,
rgb(173,216,230)50%,
rgb(176,196,222)100%);
}

.tourokubutton a:hover,
dd.button:hover{
	background-color:#B3A966;
box-shadow:inset 0px 0px 0px 1px rgba(220,217,193,1)
color:#FFF;
}

div.description{
	background:-webkit-linear-gradient(#ffffff, #90ee90);
background:linear-gradient(#ffffff, #90ee90);
}

.contentstitle{
text-align:center;
font-size:36px;
font-weight:bold;
}
.contentimage{
max-width:600px;
max-height:1200px;
margin:0 auto;
}

