<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


<security-constraint>
	<web-resource-collection>
	<web-resource-name>G-pro_Service AuthenticationController</web-resource-name>
	<url-pattern>/AuthenticationController</url-pattern>
	<url-pattern>/passed/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	<role-name>Root</role-name>
	<role-name>Administrator</role-name>
	<role-name>Manager</role-name>

	<role-name>Master_User</role-name>
	<role-name>Reguler_User</role-name>
	<role-name>General_User</role-name>
	<role-name>shinki</role-name>
	</auth-constraint>
	</security-constraint>

	<login-config>
	<auth-method>FORM</auth-method>
	<realm-name>GPROAuth</realm-name>
	<form-login-config>
	<form-login-page>/Contents_Data_Load</form-login-page>
	<form-error-page>/ErrorLog_Kiroku</form-error-page>
	</form-login-config>
	</login-config>

	<security-role>
	<role-name>Root</role-name>
	</security-role>
	<security-role>
	<role-name>Administrator</role-name>
	</security-role>
	<security-role>
	<role-name>Manager</role-name>
	</security-role>
	<security-role>
	<role-name>Master_User</role-name>
	</security-role>
	<security-role>
	<role-name>Reguler_User</role-name>
	</security-role>
	<security-role>
	<role-name>General_User</role-name>
	</security-role>
	<security-role>
	<role-name>shinki</role-name>
	</security-role>

<filter>
<filter-name>
AuthenticationFilter
</filter-name>
<filter-class>
ninsyou.AuthenticationFilter
</filter-class>
<init-param>
<param-name>loginPage</param-name>
<param-value>
/free_area/URL_Error.html</param-value>
</init-param>
</filter>

<filter-mapping>
<filter-name>AuthenticationFilter</filter-name>
<url-pattern>/passed/*</url-pattern>
</filter-mapping>

	<display-name>G-pro_Service</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AuthenticationController</display-name>
		<servlet-name>AuthenticationController</servlet-name>
		<servlet-class>
		ninsyou.AuthenticationController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>



	<servlet>
		<description>
		</description>
		<display-name>StatusMaker</display-name>
		<servlet-name>StatusMaker</servlet-name>
		<servlet-class>
		k_jyouhou.StatusMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>K_RankingMaker</display-name>
		<servlet-name>K_RankingMaker</servlet-name>
		<servlet-class>
		k_jyouhou.K_RankingMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>G_RankingMaker</display-name>
		<servlet-name>G_RankingMaker</servlet-name>
		<servlet-class>
		g_jyouhou.G_RankingMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>G_DataMaker</display-name>
		<servlet-name>G_DataMaker</servlet-name>
		<servlet-class>
		g_jyouhou.G_DataMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>G_SyousaiMaker</display-name>
		<servlet-name>G_SyousaiMaker</servlet-name>
		<servlet-class>
		g_jyouhou.G_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Marubatsu_Report_Kakunin</display-name>
		<servlet-name>Marubatsu_Report_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Marubatsu_Report_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kiji_Report_Kakunin</display-name>
		<servlet-name>Kiji_Report_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Kiji_Report_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Free_Report_Kakunin</display-name>
		<servlet-name>Free_Report_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Free_Report_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Rep_Touroku</display-name>
		<servlet-name>Rep_Touroku</servlet-name>
		<servlet-class>
		rep_upload.Rep_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Report_Upload_Info</display-name>
		<servlet-name>Report_Upload_Info</servlet-name>
		<servlet-class>
		rep_upload.Report_Upload_Info</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Rep_Temp_Download</display-name>
		<servlet-name>Rep_Temp_Download</servlet-name>
		<servlet-class>
		rep_upload.Rep_Temp_Download</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Shinki_Report_jyushin</display-name>
		<servlet-name>Shinki_Report_jyushin</servlet-name>
		<servlet-class>
		rep_upload.Shinki_Report_jyushin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShopDataMaker</display-name>
		<servlet-name>ShopDataMaker</servlet-name>
		<servlet-class>
		buppan.ShopDataMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ItemDataMaker</display-name>
		<servlet-name>ItemDataMaker</servlet-name>
		<servlet-class>
		buppan.ItemDataMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TopPageMaker</display-name>
		<servlet-name>TopPageMaker</servlet-name>
		<servlet-class>
		buppan.TopPageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShopSyousaiMaker</display-name>
		<servlet-name>ShopSyousaiMaker</servlet-name>
		<servlet-class>
		buppan.ShopSyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Shinki_Only_Koumoku</display-name>
		<servlet-name>Shinki_Only_Koumoku</servlet-name>
		<servlet-class>
		rep_upload.Shinki_Only_Koumoku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OX_Shinki_Kakunin</display-name>
		<servlet-name>OX_Shinki_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.OX_Shinki_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kiji_Shinki_Kakunin</display-name>
		<servlet-name>Kiji_Shinki_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Kiji_Shinki_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Free_Shinki_Kakunin</display-name>
		<servlet-name>Free_Shinki_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Free_Shinki_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CartController</display-name>
		<servlet-name>CartController</servlet-name>
		<servlet-class>
		buppan.CartController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Toiawase_Kakunin</display-name>
		<servlet-name>Toiawase_Kakunin</servlet-name>
		<servlet-class>
		mail.Toiawase_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kaiin_Touroku_Kakunin</display-name>
		<servlet-name>Kaiin_Touroku_Kakunin</servlet-name>
		<servlet-class>
		k_jyouhou.Kaiin_Touroku_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kaiin_Touroku_Kakunin_p2</display-name>
		<servlet-name>Kaiin_Touroku_Kakunin_p2</servlet-name>
		<servlet-class>
		k_jyouhou.Kaiin_Touroku_Kakunin_p2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Lv2_Pass_Check</display-name>
		<servlet-name>Lv2_Pass_Check</servlet-name>
		<servlet-class>
		ninsyou.Lv2_Pass_Check</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ninsyou_Henkou_Kakunin</display-name>
		<servlet-name>Ninsyou_Henkou_Kakunin</servlet-name>
		<servlet-class>
		k_jyouhou.Ninsyou_Henkou_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kaiin_Touroku_Kakunin_p0</display-name>
		<servlet-name>Kaiin_Touroku_Kakunin_p0</servlet-name>
		<servlet-class>
		k_jyouhou.Kaiin_Touroku_Kakunin_p0</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>New_Kaiin_Maker</display-name>
		<servlet-name>New_Kaiin_Maker</servlet-name>
		<servlet-class>
		k_jyouhou.New_Kaiin_Maker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Nin_Henkoutouroku</display-name>
		<servlet-name>Nin_Henkoutouroku</servlet-name>
		<servlet-class>
		k_jyouhou.Nin_Henkoutouroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>P_Henkou_Kakunin</display-name>
		<servlet-name>P_Henkou_Kakunin</servlet-name>
		<servlet-class>
		k_jyouhou.P_Henkou_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>P_Henkoutouroku</display-name>
		<servlet-name>P_Henkoutouroku</servlet-name>
		<servlet-class>
		k_jyouhou.P_Henkoutouroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Toiawase_Touroku</display-name>
		<servlet-name>Toiawase_Touroku</servlet-name>
		<servlet-class>
		mail.Toiawase_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Nin_Syoukai_P1_Kakunin</display-name>
		<servlet-name>Nin_Syoukai_P1_Kakunin</servlet-name>
		<servlet-class>
		n_syoukai.Nin_Syoukai_P1_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Nin_Syoukai_P2_Kakunin</display-name>
		<servlet-name>Nin_Syoukai_P2_Kakunin</servlet-name>
		<servlet-class>
		n_syoukai.Nin_Syoukai_P2_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BestReportMaker</display-name>
		<servlet-name>BestReportMaker</servlet-name>
		<servlet-class>
		g_jyouhou.BestReportMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FreeRep_Download</display-name>
		<servlet-name>FreeRep_Download</servlet-name>
		<servlet-class>
		g_jyouhou.FreeRep_Download</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewGame_Serch</display-name>
		<servlet-name>NewGame_Serch</servlet-name>
		<servlet-class>
		g_jyouhou.NewGame_Serch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Proposal_Rep_Kakunin</display-name>
		<servlet-name>Proposal_Rep_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.Proposal_Rep_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Proprep_Touroku</display-name>
		<servlet-name>Proprep_Touroku</servlet-name>
		<servlet-class>
		rep_upload.Proprep_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewGame_SyousaiMaker</display-name>
		<servlet-name>NewGame_SyousaiMaker</servlet-name>
		<servlet-class>
		g_jyouhou.NewGame_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PropFileDownload</display-name>
		<servlet-name>PropFileDownload</servlet-name>
		<servlet-class>
		rep_upload.PropFileDownload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WordRep_Kakunin</display-name>
		<servlet-name>WordRep_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.WordRep_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewGame_Rep_Kakunin</display-name>
		<servlet-name>NewGame_Rep_Kakunin</servlet-name>
		<servlet-class>
		rep_upload.NewGame_Rep_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GPRO_Ron_ToppageMaker</display-name>
		<servlet-name>GPRO_Ron_ToppageMaker</servlet-name>
		<servlet-class>
		gpro_ron.GPRO_Ron_ToppageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_SyousaiMaker</display-name>
		<servlet-name>GRon_SyousaiMaker</servlet-name>
		<servlet-class>
		gpro_ron.GRon_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Vote_Uketsuke</display-name>
		<servlet-name>GRon_Vote_Uketsuke</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Vote_Uketsuke</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Resp_Uketsuke</display-name>
		<servlet-name>GRon_Resp_Uketsuke</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Resp_Uketsuke</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Resp_PageMaker</display-name>
		<servlet-name>GRon_Resp_PageMaker</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Resp_PageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Resp_Update</display-name>
		<servlet-name>GRon_Resp_Update</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Resp_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Kaisetsu_Uketsuke</display-name>
		<servlet-name>GRon_Kaisetsu_Uketsuke</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Kaisetsu_Uketsuke</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Kaisetsu_Update</display-name>
		<servlet-name>GRon_Kaisetsu_Update</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Kaisetsu_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Del_Update</display-name>
		<servlet-name>GRon_Del_Update</servlet-name>
		<servlet-class>
		gpro_ron.GRon_Del_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VoteAndExpect_TopMaker</display-name>
		<servlet-name>VoteAndExpect_TopMaker</servlet-name>
		<servlet-class>
		voteandExpect.VoteAndExpect_TopMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VoAndExp_RespPageMaker</display-name>
		<servlet-name>VoAndExp_RespPageMaker</servlet-name>
		<servlet-class>
		voteandExpect.VoAndExp_RespPageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Vote_Update</display-name>
		<servlet-name>Vote_Update</servlet-name>
		<servlet-class>
		voteandExpect.Vote_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Rep_Vote_Upload</display-name>
		<servlet-name>Rep_Vote_Upload</servlet-name>
		<servlet-class>
		rep_upload.Rep_Vote_Upload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Wrong_Uketsuke</display-name>
		<servlet-name>GRon_Wrong_Uketsuke</servlet-name>
		<servlet-class>gpro_ron.GRon_Wrong_Uketsuke</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Wrong_Update</display-name>
		<servlet-name>GRon_Wrong_Update</servlet-name>
		<servlet-class>gpro_ron.GRon_Wrong_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Infomation_SyousaiMaker</display-name>
		<servlet-name>Infomation_SyousaiMaker</servlet-name>
		<servlet-class>ninsyou.Infomation_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Taikai_Upload</display-name>
		<servlet-name>Taikai_Upload</servlet-name>
		<servlet-class>k_jyouhou.Taikai_Upload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Fukki_Update</display-name>
		<servlet-name>Fukki_Update</servlet-name>
		<servlet-class>ninsyou.Fukki_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FreeRepFiles_Download</display-name>
		<servlet-name>FreeRepFiles_Download</servlet-name>
		<servlet-class>rep_upload.FreeRepFiles_Download</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>ninsyou.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Contents_Data_Load</display-name>
		<servlet-name>Contents_Data_Load</servlet-name>
		<servlet-class>ninsyou.Contents_Data_Load</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Word_Rep_Kakunin</display-name>
		<servlet-name>Word_Rep_Kakunin</servlet-name>
		<servlet-class>rep_upload.Word_Rep_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WordRep_Touroku</display-name>
		<servlet-name>WordRep_Touroku</servlet-name>
		<servlet-class>rep_upload.WordRep_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WordRep_Kensaku</display-name>
		<servlet-name>WordRep_Kensaku</servlet-name>
		<servlet-class>g_jyouhou.WordRep_Kensaku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WordRep_Load</display-name>
		<servlet-name>WordRep_Load</servlet-name>
		<servlet-class>g_jyouhou.WordRep_Load</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GRon_Etsuran_Load</display-name>
		<servlet-name>GRon_Etsuran_Load</servlet-name>
		<servlet-class>gpro_ron.GRon_Etsuran_Load</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PropRep_Report_Touroku</display-name>
		<servlet-name>PropRep_Report_Touroku</servlet-name>
		<servlet-class>rep_upload.PropRep_Report_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoImage_Load</display-name>
		<servlet-name>LogoImage_Load</servlet-name>
		<servlet-class>inputUtility.LogoImage_Load</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Movie_Load</display-name>
		<servlet-name>Movie_Load</servlet-name>
		<servlet-class>inputUtility.Movie_Load</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Kakunin_Mail_Saisou</display-name>
		<servlet-name>Kakunin_Mail_Saisou</servlet-name>
		<servlet-class>k_jyouhou.Kakunin_Mail_Saisou</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ErrorLog_Kiroku</display-name>
		<servlet-name>ErrorLog_Kiroku</servlet-name>
		<servlet-class>ninsyou.ErrorLog_Kiroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Riron_TopPageMaker</display-name>
		<servlet-name>Riron_TopPageMaker</servlet-name>
		<servlet-class>gpro_riron.Riron_TopPageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_SyousaiLoad</display-name>
		<servlet-name>Ronbun_SyousaiLoad</servlet-name>
		<servlet-class>gpro_riron.Ronbun_SyousaiLoad</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_BodyLoad</display-name>
		<servlet-name>Ronbun_BodyLoad</servlet-name>
		<servlet-class>gpro_riron.Ronbun_BodyLoad</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_Update_Kakunin</display-name>
		<servlet-name>Ronbun_Update_Kakunin</servlet-name>
		<servlet-class>gpro_riron.Ronbun_Update_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_Koushin</display-name>
		<servlet-name>Ronbun_Koushin</servlet-name>
		<servlet-class>gpro_riron.Ronbun_Koushin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_Shinki_Kakunin</display-name>
		<servlet-name>Ronbun_Shinki_Kakunin</servlet-name>
		<servlet-class>gpro_riron.Ronbun_Shinki_Kakunin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_Touroku_Cansel</display-name>
		<servlet-name>Ronbun_Touroku_Cansel</servlet-name>
		<servlet-class>gpro_riron.Ronbun_Touroku_Cansel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Ronbun_Touroku</display-name>
		<servlet-name>Ronbun_Touroku</servlet-name>
		<servlet-class>gpro_riron.Ronbun_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Riron_Vote</display-name>
		<servlet-name>Riron_Vote</servlet-name>
		<servlet-class>gpro_riron.Riron_Vote</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Comment_Upload</display-name>
		<servlet-name>Comment_Upload</servlet-name>
		<servlet-class>gpro_riron.Comment_Upload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Riron_EtsuranLoad</display-name>
		<servlet-name>Riron_EtsuranLoad</servlet-name>
		<servlet-class>gpro_riron.Riron_EtsuranLoad</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Event_SyousaiMaker</display-name>
		<servlet-name>Event_SyousaiMaker</servlet-name>
		<servlet-class>event.Event_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TourokuKoumoku_Maker</display-name>
		<servlet-name>TourokuKoumoku_Maker</servlet-name>
		<servlet-class>event.TourokuKoumoku_Maker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Event_Member_Touroku</display-name>
		<servlet-name>Event_Member_Touroku</servlet-name>
		<servlet-class>event.Event_Member_Touroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Event_Sanka_Upload</display-name>
		<servlet-name>Event_Sanka_Upload</servlet-name>
		<servlet-class>event.Event_Sanka_Upload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Coupon_NaiyouMaker</display-name>
		<servlet-name>Coupon_NaiyouMaker</servlet-name>
		<servlet-class>coupon.Coupon_NaiyouMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Coupon_Naiyou_Update</display-name>
		<servlet-name>Coupon_Naiyou_Update</servlet-name>
		<servlet-class>coupon.Coupon_Naiyou_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EventFileDownload</display-name>
		<servlet-name>EventFileDownload</servlet-name>
		<servlet-class>event.EventFileDownload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Event_Toiawase</display-name>
		<servlet-name>Event_Toiawase</servlet-name>
		<servlet-class>event.Event_Toiawase</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Syougou_Henkou</display-name>
		<servlet-name>Syougou_Henkou</servlet-name>
		<servlet-class>k_jyouhou.Syougou_Henkou</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LocateData_Maker</display-name>
		<servlet-name>LocateData_Maker</servlet-name>
		<servlet-class>location.LocateData_Maker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Event_Result_Maker</display-name>
		<servlet-name>Event_Result_Maker</servlet-name>
		<servlet-class>event.Event_Result_Maker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PennantRace_TopMaker</display-name>
		<servlet-name>PennantRace_TopMaker</servlet-name>
		<servlet-class>pennant_race.PennantRace_TopMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PennantRace_SyousaiMaker</display-name>
		<servlet-name>PennantRace_SyousaiMaker</servlet-name>
		<servlet-class>pennant_race.PennantRace_SyousaiMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cookie_Hakkou</display-name>
		<servlet-name>Cookie_Hakkou</servlet-name>
		<servlet-class>ninsyou.Cookie_Hakkou</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cookie_ListMaker</display-name>
		<servlet-name>Cookie_ListMaker</servlet-name>
		<servlet-class>ninsyou.Cookie_ListMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cookie_UwagakiTouroku</display-name>
		<servlet-name>Cookie_UwagakiTouroku</servlet-name>
		<servlet-class>ninsyou.Cookie_UwagakiTouroku</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VoAndExp_FreeRespPageMaker</display-name>
		<servlet-name>VoAndExp_FreeRespPageMaker</servlet-name>
		<servlet-class>voteandExpect.VoAndExp_FreeRespPageMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FreeVote_Update</display-name>
		<servlet-name>FreeVote_Update</servlet-name>
		<servlet-class>voteandExpect.FreeVote_Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ToolDL_TopMaker</display-name>
		<servlet-name>ToolDL_TopMaker</servlet-name>
		<servlet-class>tool_download.ToolDL_TopMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Blog_TopMaker</display-name>
		<servlet-name>Blog_TopMaker</servlet-name>
		<servlet-class>blog.Blog_TopMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageFile_Load</display-name>
		<servlet-name>ImageFile_Load</servlet-name>
		<servlet-class>blog.ImageFile_Load</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthenticationController</servlet-name>
		<url-pattern>/AuthenticationController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusMaker</servlet-name>
		<url-pattern>/StatusMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>K_RankingMaker</servlet-name>
		<url-pattern>/K_RankingMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>G_RankingMaker</servlet-name>
		<url-pattern>/G_RankingMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>G_DataMaker</servlet-name>
		<url-pattern>/G_DataMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>G_SyousaiMaker</servlet-name>
		<url-pattern>/G_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Marubatsu_Report_Kakunin</servlet-name>
		<url-pattern>/Marubatsu_Report_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kiji_Report_Kakunin</servlet-name>
		<url-pattern>/Kiji_Report_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Free_Report_Kakunin</servlet-name>
		<url-pattern>/Free_Report_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Rep_Touroku</servlet-name>
		<url-pattern>/Rep_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Report_Upload_Info</servlet-name>
		<url-pattern>/Report_Upload_Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Rep_Temp_Download</servlet-name>
		<url-pattern>/Rep_Temp_Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shinki_Report_jyushin</servlet-name>
		<url-pattern>/Shinki_Report_jyushin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShopDataMaker</servlet-name>
		<url-pattern>/ShopDataMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemDataMaker</servlet-name>
		<url-pattern>/ItemDataMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopPageMaker</servlet-name>
		<url-pattern>/TopPageMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShopSyousaiMaker</servlet-name>
		<url-pattern>/ShopSyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OX_Shinki_Kakunin</servlet-name>
		<url-pattern>/OX_Shinki_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kiji_Shinki_Kakunin</servlet-name>
		<url-pattern>/Kiji_Shinki_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Free_Shinki_Kakunin</servlet-name>
		<url-pattern>/Free_Shinki_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/CartController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Toiawase_Kakunin</servlet-name>
		<url-pattern>/Toiawase_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kaiin_Touroku_Kakunin</servlet-name>
		<url-pattern>/Kaiin_Touroku_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kaiin_Touroku_Kakunin_p2</servlet-name>
		<url-pattern>/Kaiin_Touroku_Kakunin_p2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lv2_Pass_Check</servlet-name>
		<url-pattern>/Lv2_Pass_Check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ninsyou_Henkou_Kakunin</servlet-name>
		<url-pattern>/Ninsyou_Henkou_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kaiin_Touroku_Kakunin_p0</servlet-name>
		<url-pattern>/Kaiin_Touroku_Kakunin_p0</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>New_Kaiin_Maker</servlet-name>
		<url-pattern>/New_Kaiin_Maker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Nin_Henkoutouroku</servlet-name>
		<url-pattern>/Nin_Henkoutouroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>P_Henkou_Kakunin</servlet-name>
		<url-pattern>/P_Henkou_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>P_Henkoutouroku</servlet-name>
		<url-pattern>/P_Henkoutouroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Toiawase_Touroku</servlet-name>
		<url-pattern>/Toiawase_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Nin_Syoukai_P1_Kakunin</servlet-name>
		<url-pattern>/Nin_Syoukai_P1_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Nin_Syoukai_P2_Kakunin</servlet-name>
		<url-pattern>/Nin_Syoukai_P2_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BestReportMaker</servlet-name>
		<url-pattern>/BestReportMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FreeRep_Download</servlet-name>
		<url-pattern>/FreeRep_Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewGame_Serch</servlet-name>
		<url-pattern>/NewGame_Serch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Proposal_Rep_Kakunin</servlet-name>
		<url-pattern>/Proposal_Rep_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Proprep_Touroku</servlet-name>
		<url-pattern>/Proprep_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewGame_SyousaiMaker</servlet-name>
		<url-pattern>/NewGame_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PropFileDownload</servlet-name>
		<url-pattern>/PropFileDownload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordRep_Kakunin</servlet-name>
		<url-pattern>/WordRep_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewGame_Rep_Kakunin</servlet-name>
		<url-pattern>/NewGame_Rep_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GPRO_Ron_ToppageMaker</servlet-name>
		<url-pattern>/GPRO_Ron_ToppageMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_SyousaiMaker</servlet-name>
		<url-pattern>/GRon_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Vote_Uketsuke</servlet-name>
		<url-pattern>/GRon_Vote_Uketsuke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Resp_Uketsuke</servlet-name>
		<url-pattern>/GRon_Resp_Uketsuke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Resp_PageMaker</servlet-name>
		<url-pattern>/GRon_Resp_PageMaker</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GRon_Resp_Update</servlet-name>
		<url-pattern>/GRon_Resp_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Kaisetsu_Uketsuke</servlet-name>
		<url-pattern>/GRon_Kaisetsu_Uketsuke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Kaisetsu_Update</servlet-name>
		<url-pattern>/GRon_Kaisetsu_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Del_Update</servlet-name>
		<url-pattern>/GRon_Del_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoteAndExpect_TopMaker</servlet-name>
		<url-pattern>/VoteAndExpect_TopMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoAndExp_RespPageMaker</servlet-name>
		<url-pattern>/VoAndExp_RespPageMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vote_Update</servlet-name>
		<url-pattern>/Vote_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Rep_Vote_Upload</servlet-name>
		<url-pattern>/Rep_Vote_Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Wrong_Uketsuke</servlet-name>
		<url-pattern>/GRon_Wrong_Uketsuke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Wrong_Update</servlet-name>
		<url-pattern>/GRon_Wrong_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Infomation_SyousaiMaker</servlet-name>
		<url-pattern>/Infomation_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Taikai_Upload</servlet-name>
		<url-pattern>/Taikai_Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fukki_Update</servlet-name>
		<url-pattern>/Fukki_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FreeRepFiles_Download</servlet-name>
		<url-pattern>/FreeRepFiles_Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contents_Data_Load</servlet-name>
		<url-pattern>/Contents_Data_Load</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Word_Rep_Kakunin</servlet-name>
		<url-pattern>/Word_Rep_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordRep_Touroku</servlet-name>
		<url-pattern>/WordRep_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordRep_Kensaku</servlet-name>
		<url-pattern>/WordRep_Kensaku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WordRep_Load</servlet-name>
		<url-pattern>/WordRep_Load</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GRon_Etsuran_Load</servlet-name>
		<url-pattern>/GRon_Etsuran_Load</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PropRep_Report_Touroku</servlet-name>
		<url-pattern>/PropRep_Report_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoImage_Load</servlet-name>
		<url-pattern>/LogoImage_Load/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Movie_Load</servlet-name>
		<url-pattern>/Movie_Load/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Kakunin_Mail_Saisou</servlet-name>
		<url-pattern>/Kakunin_Mail_Saisou</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorLog_Kiroku</servlet-name>
		<url-pattern>/ErrorLog_Kiroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Riron_TopPageMaker</servlet-name>
		<url-pattern>/Riron_TopPageMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_SyousaiLoad</servlet-name>
		<url-pattern>/Ronbun_SyousaiLoad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_BodyLoad</servlet-name>
		<url-pattern>/Ronbun_BodyLoad/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_Update_Kakunin</servlet-name>
		<url-pattern>/Ronbun_Update_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_Koushin</servlet-name>
		<url-pattern>/Ronbun_Koushin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_Shinki_Kakunin</servlet-name>
		<url-pattern>/Ronbun_Shinki_Kakunin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_Touroku_Cansel</servlet-name>
		<url-pattern>/Ronbun_Touroku_Cansel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ronbun_Touroku</servlet-name>
		<url-pattern>/Ronbun_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Riron_Vote</servlet-name>
		<url-pattern>/Riron_Vote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comment_Upload</servlet-name>
		<url-pattern>/Comment_Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Riron_EtsuranLoad</servlet-name>
		<url-pattern>/Riron_EtsuranLoad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_SyousaiMaker</servlet-name>
		<url-pattern>/Event_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourokuKoumoku_Maker</servlet-name>
		<url-pattern>/TourokuKoumoku_Maker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_Member_Touroku</servlet-name>
		<url-pattern>/Event_Member_Touroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_Sanka_Upload</servlet-name>
		<url-pattern>/Event_Sanka_Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Coupon_NaiyouMaker</servlet-name>
		<url-pattern>/Coupon_NaiyouMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Coupon_Naiyou_Update</servlet-name>
		<url-pattern>/Coupon_Naiyou_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EventFileDownload</servlet-name>
		<url-pattern>/EventFileDownload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_Toiawase</servlet-name>
		<url-pattern>/Event_Toiawase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Syougou_Henkou</servlet-name>
		<url-pattern>/Syougou_Henkou</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocateData_Maker</servlet-name>
		<url-pattern>/LocateData_Maker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Event_Result_Maker</servlet-name>
		<url-pattern>/Event_Result_Maker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PennantRace_TopMaker</servlet-name>
		<url-pattern>/PennantRace_TopMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PennantRace_SyousaiMaker</servlet-name>
		<url-pattern>/PennantRace_SyousaiMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cookie_Hakkou</servlet-name>
		<url-pattern>/Cookie_Hakkou</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cookie_ListMaker</servlet-name>
		<url-pattern>/Cookie_ListMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cookie_UwagakiTouroku</servlet-name>
		<url-pattern>/Cookie_UwagakiTouroku</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VoAndExp_FreeRespPageMaker</servlet-name>
		<url-pattern>/VoAndExp_FreeRespPageMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FreeVote_Update</servlet-name>
		<url-pattern>/FreeVote_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToolDL_TopMaker</servlet-name>
		<url-pattern>/ToolDL_TopMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Blog_TopMaker</servlet-name>
		<url-pattern>/Blog_TopMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageFile_Load</servlet-name>
		<url-pattern>/ImageFile_Load</url-pattern>
	</servlet-mapping>
<!--
	<resource-ref>
	<res-ref-name>jdbc/authorization</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/n_data</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/g_data</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/r_data</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/malldata</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/gpro_ron</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/vote_expdata</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/infomation</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/contents_lock</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/t_data</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/event</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
	<res-ref-name>jdbc/event_data</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
	</resource-ref>
-->
	<welcome-file-list>
	<welcome-file>Contents_Data_Load</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
	<error-code>401</error-code>
	<location>/free_area/ServiceError.html</location>
	</error-page>

	<error-page>
	<error-code>403</error-code>
	<location>/free_area/ServiceError.html</location>
	</error-page>

	<error-page>
	<error-code>404</error-code>
	<location>/free_area/ServiceError.html</location>
	</error-page>

	<error-page>
	<error-code>500</error-code>
	<location>/free_area/ServiceError.html</location>
	</error-page>
</web-app>
